.venv
.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
.env
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
*.egg-info/
dist/
build/
.eggs/
*.egg
*.coverage
.coverage.*
.tox/
.mypy_cache/
.pytest_cache/
*.coverage.xml
*.cache
*.pkl
*.db
*.sqlite



test
run.sh
./run.sh
dist/
build/
*.spec
temp/
